.container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr 1fr;
}

.task {
    position: relative;
    min-height: 300px;
    padding: 10px;
    box-shadow: 0 0 3px 1px black;
    border-radius: 5px;
}

/* Callback Chat */
.callback-wrap {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
}

.callback-button {  
    margin: auto;
    width: 70px;
    height: 70px;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 black;

    transition: all 0.1s;
    transform: scale(1);
}

.callback-button:hover {
    cursor: pointer;
    width: 80px;
    height: 80px;  
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 50%;
    right: 50%;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;

    transition: all 0.1s;
    transform: scale(0);
}

.active {
    transform: scale(1);
}

.hidden {
    width: 0;
    height: 0;
}

.hidden:hover {
    width: 0;
    height: 0;
}

.title {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.cross {
    box-sizing: border-box;
    display: block;
    padding-top: 1px;
    width: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
}

.cross:hover {
    cursor: pointer;
}

.input {
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
}

.btn {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
}
/* Collapse */
.wrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.button {
    padding: 10px 20px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 10px;
}

.button:hover {
    cursor: pointer;
}

.hint {
    height: 0;
    padding: 0 10px;
    max-width: 300px;  
    overflow: hidden;

    transition: all 0.5s;
}

.move {
    padding: 10px 10px;
    box-shadow: 0 0 5px 1px black;
    border-radius: 10px;
}

/* Liker */
.liker-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    margin: auto;
    height: 100%;
    width: 120px;
}
  
.liker {
    padding: 10px 30px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 10px;
}
  
.liker:hover {
    cursor: pointer;
}
  
.like {
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(be0d860e775accf30d67.png);
    background-position: center;
    background-size: contain;
    
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}
  
@keyframes track1 {
    0% {
        opacity: 1;
        left: 50%;
        bottom: 0;
    }
    25% { left: 0; }
    50% { left: 50%; }
    75% { left: 100%; }
    100% { 
        left: 50%;
        bottom: 200px;
        opacity: 0;
    }
}
  
@keyframes track2 {
    0% {
        opacity: 1;
        left: 50%;
        bottom: 0;
    }
    25% { left: 50%; }
    50% { left: 100%; }
    75% { left: 0; }
    100% {
        left: 50%;
        bottom: 200px;
        opacity: 0;
    }
}
  
@keyframes track3 {
    0% {
        opacity: 1;
        left: 50%;
        bottom: 0;
    }
    25% { left: 50%; }
    50% { left: 0; }
    75% { left: 100%; }
    100% {
        left: 50%;
        bottom: 200px;
        opacity: 0;
    }
}
  
@keyframes track4 {
    0% {
        opacity: 1;
        left: 50%;
        bottom: 0;
    }
    25% { left: 100%; }
    50% { left: 50%; }
    75% { left: 0; }
    100% {
        left: 50%;
        bottom: 200px;
        opacity: 0;
    }
}

/*# sourceMappingURL=main.css.map*/